body:before, body:after {
    content: "";
    position: fixed;
    background: $spring-green;
    left: 0;
    right: 0;
    height: 5px;
}
body:before {
    top: 0;
}
body:after {
    bottom: 0;
}
body {
    border-left: 5px solid $spring-green;
    border-right: 5px solid $spring-green;
}
