div.breadcrumb {
    display: block;
    float: left;
    padding: 25px 0px;
    //border-bottom: 2px solid $spring-green;
}
ul.breadcrumb {
    display: block;
    float: left;
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.breadcrumb li {
    float: left;
    //display: list-item;
    list-style-type: none;
    text-decoration: none;
    background-color: $spring-green;
    color: white;
    border-right: 2px solid $spring-yellow;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
    padding: 9px 20px 10px 35px;
    margin-left: -32px;
}
.breadcrumb li.first-crumb {
    background: $orange;
    color: white;
    padding-left: 20px;
    margin-left: 0px;
}
.breadcrumb li.last-crumb {
    border-top: 1px solid $turquoise;
    border-right: 1px solid $turquoise;
    background: $turquoise;
    color: white;
    padding-top: 9px;
    padding-bottom: 9px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.breadcrumb li:not(.last-crumb) a:after {
    color: $spring-yellow;
    margin-right: 0px;
}
.breadcrumb li a,
.breadcrumb li span {
    display: block;
    float: left;
    position: relative;
}
.breadcrumb li a {
    text-decoration: none;
}
.breadcrumb li.first-crumb a {
    padding-left: 0px;
    margin-left: 0px;
}
li.breadcrumb:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    //border-top: 20px solid $spring-green;
    //border-bottom: 20px solid $spring-green;
    border-left: 20px solid $spring-green;
}
