$dark-teal: #094A7D;
$an-orange: #FAAC58;
$an-turquoise: #0489B1;

// Palette Two
$offwhite1: #FBF8EF;

$letterdark: #6A4A3C;
$letterdark2: #291F20;
$highlight1: #CC333F;
$highlight2: #EB6841;
$highlight3: #EDC951;
$contrast1: #00A0B0;



$theme1: #0F7273;
$theme2: #3DB8BD;
$theme3: #363D92;
$theme4: #70F861;
$theme5: #1E2C38;
