.special, a:link, a:visited {
    text-decoration: none;
    color: $theme2;
}

.special a {
  color: $theme3;
}

#crumbs {
  padding-bottom: 5px;
  padding-top: 10px;
}

ul #crumbs {
  list-style-type: none;
  padding-left: 0px;
  padding-top: 20px;
}

a .crumbs{
  color: $an-orange;
}

li.crumbs {
  display: inline-block;
  list-style-type: none;
  list-style-position: none;
  color: $an-orange;
  padding: 0;
}
