.special, a:link, a:visited {
    text-decoration: none;
    color: $dark-teal;
}

.special a {
  color: $theme3;
}

ul #crumbs {
  list-style-type: none;
  padding-left: 0px;
}

.crumbs a {
  color: $an-orange;
}

li.crumbs {
  display: inline-block;
  list-style-type: none;
  list-style-position: none;
  color: $an-orange;
  padding: 0;
}
