

.noDecoration, a:link, a:visited {
    text-decoration: none;
    color: $an-orange;
}

a .describe {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
a .stage{
  color: $dark-teal;
}

a .term {
  color: $letterdark2;
}

a .icon {
  color: white;
}

.steve {
  color: white;
}
