

.noDecoration, a:link, a:visited {
    text-decoration: none;
    color: $an-orange;
}


a .stage{
  color: $dark-teal;
}

a .term {
  color: $letterdark2;
}

a .icon {
  color: white;
}

.steve {
  color: white;
}
