li {
  list-style-type: square;
  list-style-position: inside;
}

.crumbs {
  list-style-type: none;
  list-style-position: none;
}

.stage-list {
  padding: 5px 0px 0px 10px;
  background: white;
}

.sublist {
  margin-left: -15px;
  list-style-type: circle;
}

.no-bullet {
  list-style-type: none;
  //margin-left: -15px;
  font-style: italic;
}

.icon {
  list-style-type: none;
}

.icon-center {
  list-style-type: none;
  text-align: center;
}


.slight-indent {
  margin-left: 25px;
  color: $orange;
}
