$break-small: 414px;
$break-medium: 992px;
$break-large: 1200px;

.extra {
  padding-top: 30px;
}

.describe {
  padding-bottom: 15px;
  padding-top: 10px;
}

.describe_w {
  padding-bottom: 15px;
  color: white;
}

.describe a {
  padding-bottom: 15px;
  padding-top: 10px;
}

.justy {
  @media screen and (max-width: $break-small) {
    padding-right: 3px;
    }
  @media screen and (max-width: $break-medium) {
    padding-right: 5px;
    }
}


.block {
  padding: 10px;
}

.fancy {
  font-style: underline;
}

.top-button {
  padding-top: 50px;
}

.center {
  text-align: center;
  padding-bottom: 20px;
}

.center-sub {
  text-align: center;
}

p .center {
  text-align: center;
  //padding-top: -25px;
}

.friendly {
  padding-bottom: 10px;
  padding-top: 20px
}

.subhead {
  text-align: center;
  padding-bottom: 10px;
}

.contact-top {
  padding-top: 5px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.contact-middle {
  padding-top: -3px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.contact-bottom {
  padding-top: -3px;
  padding-bottom: 5px;
}
