$break-small: 414px;
$break-medium: 992px;
$break-large: 1200px;


.btn.focus, .btn:focus, .btn:hover {
  color: $theme3;
  text-decoration: none;
}

li {
  list-style-type: disc;
}

.no-bullet,
.no-bullet-plain,
.no-bullet-a {
  list-style-type: none;
  margin-left: -37px;
  margin-right: 15px;
  font-style: italic;
  @media screen and (max-width: $break-small) {
    margin-left: -55px;
    margin-right: 10px;
    }
}

.no-bullet-a {
  padding-top: 10px;
}

.no-bullet-plain {
  font-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

.no-bullet-header,
.no-bullet-header1 {
  list-style-type: none;
  margin-left: -20px;
  padding-top: 10px;
  color: $an_orange;
}

.no-bullet-header1 {
  color: black;
  padding-bottom: 10px;
}

.narrow {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background: white;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.stage {
  padding-bottom: 25px;
}

ul .stage-list,
   .stage-list-last {
  background: white;
  padding-top: 10px;
  max-width: 360px;
  border-radius: 5px;
  @media screen and (max-width: $break-small) {
    margin-left: -12px;
    padding-right: 10px;
    }
  @media screen and (max-width: $break-medium) {
    margin-left: -12px;
    padding-right: 5px;
    }
}

ul .stage-list-last {
  padding-bottom: 10px;
}

.sublist,
.sublist-last {
  @media screen and (max-width: $break-small) {
    margin-left: -40px;
    padding-right: 5px;
    }
  @media screen and (max-width: $break-medium) {
    margin-left: -30px;
    padding-right: 5px;
    }
  margin-left: -20px;
  list-style-type: circle;
  padding-top: 5px;
  max-width: 360px;

}

.sublist-last {
  padding-bottom: 10px;
}

.slight-indent {
  padding-top: 10px;
  margin-left: -20px;
  margin-top: 10px;
  max-width: 360px;
  color: $highlight2;
  @media screen and (max-width: $break-small) {
    margin-left: -25px;
    margin-right: 5px;
    }
  @media screen and (max-width: $break-medium) {
    margin-left: -25px;
    margin-right: 5px;
    }
}

img.stages {
  display: block;
  max-width: 90%;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  @media screen and (max-width: $break-small) {
    display:none;
    }
}

.stages1 {
  @media screen and (max-width: $break-small) {
    display:none;
    }
  @media screen and (max-width: $break-medium) {
    display: none;
    }
}


img.stages1 {
  display: block;
  max-width: 85%;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  @media screen and (max-width: $break-small) {
    display:none;
    }
  @media screen and (max-width: $break-medium) {
    max-width: 98%;
    }
}


img.lower {
  @media screen and (max-width: $break-small) {
    display: block;
    max-width: 90%;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    }
  display: none;
}

.smallguy {
  @media screen and (max-width: $break-small) {
  display:none;
  }
}
