@import "colors";
@import "buttons";
@import "lists";
//@import "animate";

html, body{
  height: 100%;
  background-color: $background;
  font-family: 'Monda', sans-serif;
}

h1 {
  font-family: 'Oswald', sans-serif;
  color: $contrast1;
  font-size: 3em;
  text-align: center;
  padding-top: 10px;
}

h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
  font-style: bold;
  color: $dark-teal;
  //padding-top: 20px;
  margin-bottom: 0;
}

.extra {
  color: $highlight3;
  padding-top: 30px;
}

.describe {
  padding-bottom: 15px;
}

.fancy {
  font-style: underline;
}

.top-button {
  padding-top: 50px;
}

.center {
  text-align: center;
  padding-bottom: 20px;
}

.center-sub {
  text-align: center;
}

p .center {
  text-align: center;
  //padding-top: -25px;
}

.subhead {
  color: $an-orange;
  text-align: center;
  padding-bottom: 10px;
}


a.term {
  color: $letterdark2;
}

a.term.active.focus,
a.term.active:focus,
a.term:focus,
a.term:hover {
  color: $spring-green;
}

#tagline {
  font-size: 1.09em;
  text-align: center;
  color: $an-orange;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  max-height: 85pxl;
}

.stage {
  padding-bottom: 25px;
}

dt {
  font-family: sans-serif;
  font-style: bold;
  padding-top: 6px;
}

a.active.focus,
a.active:focus,
a:focus,
a:hover {
  color: $contrast1;
}

.noDecoration, a:link, a:visited {
    text-decoration: none;
}
