@import "colors";
@import "buttons";
@import "spacing";
@import "links";
@import "stages";
@import "border";
@import "crumbs";
//@import "animate";

$break-small: 414px;
$break-medium: 992px;
$break-large: 1200px;

html, body{
  height: 100%;
  background-color: $an_turquoise;
  font-family: 'Monda', sans-serif;
  font-size: 14px;
  @media screen and (max-width: $break-small) {
    font-size: 12px;
    }
}

h1 {
  font-family: 'Oswald', sans-serif;
  color: $theme2;
  font-size: 2.5em;
  text-align: center;
  padding-top: 10px;
  @media screen and (max-width: $break-small) {
    font-size: 2em;
    }
}

.describe_w h1 {
  padding-bottom: 15px;
  color: white;
}

h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
  font-style: bold;
  color: $dark-teal;
  padding-bottom: 20px;
  margin-bottom: 0;
}

h5 {
  font-family: 'Oswald', sans-serif;
  color: $theme2;
  padding-bottom: 5px;
  margin-bottom: 0;
}

.left_sh {
  margin-left: 20px;
  margin-right: 10px;
  @media screen and (max-width: $break-small) {
    margin-left: 5px;
    }
}

.fancy {
  font-style: underline;
}

.subhead {
  color: $an-orange;
  padding-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
}


// Terms page, emphasis for terms

dt {
  font-family: sans-serif;
  font-style: bold;
  @media screen and (max-width: $break-small) {
    padding-top: 20px;
    color: $theme3;
    }
}

// Icons for the drop-down menus on the home page

.left_point,
.right_point {
  padding-top: 25px;
  padding-bottom: 15px;
  font-size: 2em;
}

.left_point_w,
.right_point_w {
  padding-top: 25px;
  padding-bottom: 15px;
  font-size: 2em;
  color: white;
}
.right_point {
  text-align: right;
}

.icon {
  list-style-type: none;
}

.icon-center {
  list-style-type: none;
  text-align: center;
}


// Main page - site tagline

#tagline {
  font-size: 1.09em;
  color: $an-orange;
  text-align: center;
  padding-bottom: 20px;
  @media screen and (max-width: $break-small) {
    padding-bottom: 2px;
    }
}

// Alignment Nashville Logo Styling

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 85%;
}

.logo {
  padding-bottom: 10px;
}
