.btn1, .stage-btn {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Oswald', sans-serif;
  font-size: 1.25em;
  text-align: center;
  outline: none; }

.dropdown-menu {
  background-color: #01A9DB;
  font-family: 'Monda', sans-serif;
  color: white; }

a.dropdown-menu {
  color: white; }

.btn-group {
  display: inline-block;
  margin-right: auto;
  margin-left: auto; }

.btn, .droppy {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 1.25em;
  text-align: center;
  width: 300px;
  background-color: #a6a6a6;
  background-color: #fff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  color: #01A9DB; }
  @media screen and (max-width: 414px) {
    .btn, .droppy {
      width: 210px; } }

.btn {
  outline: none; }

.extra {
  padding-top: 30px; }

.describe {
  padding-bottom: 15px;
  padding-top: 10px; }

.describe_w {
  padding-bottom: 15px;
  color: white; }

.describe a {
  padding-bottom: 15px;
  padding-top: 10px; }

@media screen and (max-width: 414px) {
  .justy {
    padding-right: 3px; } }
@media screen and (max-width: 992px) {
  .justy {
    padding-right: 5px; } }

.block {
  padding: 10px; }

.fancy {
  font-style: underline; }

.top-button {
  padding-top: 50px; }

.center {
  text-align: center;
  padding-bottom: 20px; }

.center-sub {
  text-align: center; }

p .center {
  text-align: center; }

.friendly {
  padding-bottom: 10px;
  padding-top: 20px; }

.subhead {
  text-align: center;
  padding-bottom: 10px; }

.contact-top {
  padding-top: 5px;
  padding-bottom: 0px;
  margin-bottom: 0px; }

.contact-middle {
  padding-top: -3px;
  padding-bottom: 0px;
  margin-bottom: 0px; }

.contact-bottom {
  padding-top: -3px;
  padding-bottom: 5px; }

.noDecoration, a:link, a:visited {
  text-decoration: none;
  color: #FAAC58; }

a .describe {
  padding-bottom: 10px;
  margin-bottom: 10px; }

a .stage {
  color: #094A7D; }

a .term {
  color: #291F20; }

a .icon {
  color: white; }

.steve {
  color: white; }

.btn.focus, .btn:focus, .btn:hover {
  color: #363D92;
  text-decoration: none; }

li {
  list-style-type: disc; }

.no-bullet, .no-bullet-plain, .no-bullet-a {
  list-style-type: none;
  margin-left: -37px;
  margin-right: 15px;
  font-style: italic; }
  @media screen and (max-width: 414px) {
    .no-bullet, .no-bullet-plain, .no-bullet-a {
      margin-left: -55px;
      margin-right: 10px; } }

.no-bullet-a {
  padding-top: 10px; }

.no-bullet-plain {
  font-style: none;
  padding-top: 5px;
  padding-bottom: 5px; }

.no-bullet-header, .no-bullet-header1 {
  list-style-type: none;
  margin-left: -20px;
  padding-top: 10px;
  color: #FAAC58; }

.no-bullet-header1 {
  color: black;
  padding-bottom: 10px; }

.narrow {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background: white;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px; }

.stage {
  padding-bottom: 25px; }

ul .stage-list, .stage-list-last {
  background: white;
  padding-top: 10px;
  max-width: 360px;
  border-radius: 5px; }
  @media screen and (max-width: 414px) {
    ul .stage-list, .stage-list-last {
      margin-left: -12px;
      padding-right: 10px; } }
  @media screen and (max-width: 992px) {
    ul .stage-list, .stage-list-last {
      margin-left: -12px;
      padding-right: 5px; } }

ul .stage-list-last {
  padding-bottom: 10px; }

.sublist, .sublist-last {
  margin-left: -20px;
  list-style-type: circle;
  padding-top: 5px;
  max-width: 360px; }
  @media screen and (max-width: 414px) {
    .sublist, .sublist-last {
      margin-left: -40px;
      padding-right: 5px; } }
  @media screen and (max-width: 992px) {
    .sublist, .sublist-last {
      margin-left: -30px;
      padding-right: 5px; } }

.sublist-last {
  padding-bottom: 10px; }

.slight-indent {
  padding-top: 10px;
  margin-left: -20px;
  margin-top: 10px;
  max-width: 360px;
  color: #EB6841; }
  @media screen and (max-width: 414px) {
    .slight-indent {
      margin-left: -25px;
      margin-right: 5px; } }
  @media screen and (max-width: 992px) {
    .slight-indent {
      margin-left: -25px;
      margin-right: 5px; } }

img.stages {
  display: block;
  max-width: 90%;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 5px; }
  @media screen and (max-width: 414px) {
    img.stages {
      display: none; } }

@media screen and (max-width: 414px) {
  .stages1 {
    display: none; } }
@media screen and (max-width: 992px) {
  .stages1 {
    display: none; } }

img.stages1 {
  display: block;
  max-width: 85%;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px; }
  @media screen and (max-width: 414px) {
    img.stages1 {
      display: none; } }
  @media screen and (max-width: 992px) {
    img.stages1 {
      max-width: 98%; } }

img.lower {
  display: none; }
  @media screen and (max-width: 414px) {
    img.lower {
      display: block;
      max-width: 90%;
      padding: 0px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      border-radius: 5px; } }

@media screen and (max-width: 414px) {
  .smallguy {
    display: none; } }

.outer_wrapper {
  background-color: #363D92;
  padding: 6px;
  margin: -6px;
  border-radius: 4px; }

.mid_wrapper {
  background-color: #0489B1;
  padding: 3px 3px;
  margin: 4px;
  border-radius: 5px; }

.narrow_wrapper {
  background-color: #FAAC58;
  padding: 1px 0;
  margin: 3px;
  border-radius: 5px; }

.inner_base {
  background-color: #FBF8EF;
  padding: 2px 2px;
  margin: 3px;
  border-radius: 5px; }

.special, a:link, a:visited {
  text-decoration: none;
  color: #01A9DB; }

.special a {
  color: #363D92; }

#crumbs {
  padding-bottom: 5px;
  padding-top: 10px;
  padding-left: 0px; }

ul #crumbs {
  list-style-type: none;
  padding-left: 0px;
  padding-top: 20px; }

a .crumbs {
  color: #FAAC58; }

li.crumbs {
  display: inline-block;
  list-style-type: none;
  list-style-position: none;
  color: #FAAC58;
  padding: 0; }

html, body {
  height: 100%;
  background-color: #0489B1;
  font-family: 'Monda', sans-serif;
  font-size: 14px; }
  @media screen and (max-width: 414px) {
    html, body {
      font-size: 12px; } }

h1 {
  font-family: 'Oswald', sans-serif;
  color: #01A9DB;
  font-size: 2.5em;
  text-align: center;
  padding-top: 10px; }
  @media screen and (max-width: 414px) {
    h1 {
      font-size: 2em; } }

.describe_w h1 {
  padding-bottom: 15px;
  color: white; }

h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
  font-style: bold;
  color: #094A7D;
  padding-bottom: 20px;
  margin-bottom: 0; }

h5 {
  font-family: 'Oswald', sans-serif;
  color: #01A9DB;
  padding-bottom: 5px;
  margin-bottom: 0; }

.left_sh {
  margin-left: 20px;
  margin-right: 10px; }
  @media screen and (max-width: 414px) {
    .left_sh {
      margin-left: 5px; } }

.fancy {
  font-style: underline; }

.subhead {
  color: #FAAC58;
  padding-bottom: 10px;
  margin-right: auto;
  margin-left: auto; }

dt {
  font-family: sans-serif;
  font-style: bold; }
  @media screen and (max-width: 414px) {
    dt {
      padding-top: 20px;
      color: #363D92; } }

.left_point, .right_point {
  padding-top: 25px;
  padding-bottom: 15px;
  font-size: 2em; }

.left_point_w, .right_point_w {
  padding-top: 25px;
  padding-bottom: 15px;
  font-size: 2em;
  color: white; }

.right_point {
  text-align: right; }

.icon {
  list-style-type: none; }

.icon-center {
  list-style-type: none;
  text-align: center; }

#tagline {
  font-size: 1.09em;
  color: #FAAC58;
  text-align: center;
  padding-bottom: 20px; }
  @media screen and (max-width: 414px) {
    #tagline {
      padding-bottom: 2px; } }

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 85%; }

.logo {
  padding-bottom: 10px; }
