@import "colors";
@import "breadcrumbs";
@import "lists";
@import "animate";

html, body{
  height: 100%;
}

h1 {
  font-family: 'Oswald', sans-serif;;
  color: $an-turquoise;
  font-size: 3em;
  text-align: center;
  padding-top: 10px;
}

h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
  font-style: bold;
  color: $an-turquoise;
  //padding-top: 20px;
  margin-bottom: 0;
}

.center {
  text-align: center;
  padding-bottom: 20px;
}

.center-sub {
  text-align: center;
}

p .center {
  text-align: center;
  padding-top: -25px;
}

p {
  font-family: 'Monda', sans-serif;
}

#tagline, .subhead {
  color: $an-orange;
  text-align: center;
  padding-bottom: 10px;
}

#tagline {
  font-size: 1.09em;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  max-height: 85px;
}
