.btn1, .stage-btn {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  text-align: center;
  color: tomato;
  outline: none; }

.dropdown-menu {
  background-color: #3DB8BD;
  font-family: 'Monda', sans-serif; }

.btn-group {
  display: block;
  margin-right: auto;
  margin-left: auto; }

.btn, .droppy {
  font-family: 'Oswald', sans-serif;
  font-size: 1.25em;
  text-align: center;
  background-color: #a6a6a6;
  background-color: #fff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  color: #0099cc; }

.special a {
  color: #0099CC; }

.btn {
  outline: none; }

.btn.active.focus, .btn.active:focus, .btn:focus, .btn:hover {
  color: #00A0B0; }

li {
  list-style-type: square; }

.crumbs {
  display: inline;
  list-style-type: none;
  list-style-position: none; }

.stage-list {
  list-style-type: none;
  padding: 10px 0px 0px 10px;
  background: white; }

.sublist {
  margin-left: -15px;
  list-style-type: circle; }

.no-bullet {
  list-style-type: none;
  margin-left: -15px;
  font-style: italic; }

.icon {
  list-style-type: none; }

.icon-center {
  list-style-type: none;
  text-align: center; }

.slight-indent {
  margin-left: 25px;
  color: #F76010; }

h1 {
  text-align: center;
  padding-top: 10px; }

h2, h3, h4 {
  margin-bottom: 0; }

.wrapper {
  padding: 7px;
  margin: 7px;
  border-radius: 7px; }

.container1 {
  padding: 1px 0;
  margin: 1px;
  border-radius: 5px; }

.container2 {
  padding: 10px 10px;
  margin: 7px;
  border-radius: 5px; }

.container3 {
  padding: 10px 10px;
  margin: 10px;
  border-radius: 5px; }

.narrow {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding-bottom: 10px; }

.extra {
  padding-top: 30px; }

.describe {
  padding-bottom: 15px; }

.fancy {
  font-style: underline; }

.top-button {
  padding-top: 50px; }

.center {
  text-align: center;
  padding-bottom: 20px; }

.center-sub {
  text-align: center; }

p .center {
  text-align: center; }

.subhead {
  text-align: center;
  padding-bottom: 10px; }

#tagline {
  text-align: center;
  padding-bottom: 20px; }

.contact-top {
  padding-top: 5px;
  padding-bottom: 0px;
  margin-bottom: 0px; }

.contact-middle {
  padding-top: -3px;
  padding-bottom: 0px;
  margin-bottom: 0px; }

.contact-bottom {
  padding-top: -3px;
  padding-bottom: 5px; }

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 85px; }

.stage {
  padding-bottom: 25px; }

dt {
  padding-top: 6px; }

.logo {
  padding: 20px 0px; }

html, body {
  height: 100%;
  background-color: #3DB8BD;
  font-family: 'Monda', sans-serif; }

h1 {
  font-family: 'Oswald', sans-serif;
  color: #0489B1;
  font-size: 3em; }

h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
  font-style: bold;
  color: #094A7D; }

.container3 {
  background-color: #FBF8EF; }

.container2 {
  background-color: #363D92; }

.container1 {
  background-color: #3DB8BD; }

.wrapper {
  background-color: #FAAC58; }

.extra {
  color: #EDC951; }

.fancy {
  font-style: underline; }

.subhead {
  color: #FAAC58; }

#crumbs ul {
  display: inline-block; }

.narrow {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2); }

a.term {
  color: #291F20; }

a.term.active.focus, a.term.active:focus, a.term:focus, a.term:hover {
  color: #86D81F; }

#tagline {
  font-size: 1.09em;
  color: #FAAC58; }

dt {
  font-family: sans-serif;
  font-style: bold; }

a.active.focus, a.active:focus, a:focus, a:hover {
  color: #70F861; }

.noDecoration, a:link, a:visited {
  text-decoration: none;
  color: #FAAC58; }

.special, a:link, a:visited {
  text-decoration: none;
  color: #0099CC; }
